<div class="brand-wrapper py-8 lg:my-24 my-14">
      <div class="brand-slider">
        <div>
          <img class="mx-auto" src="{{'armani.svg'| asset_url}}" alt="">
        </div>

        <div>
          <img class="mx-auto" src="{{'vogue.svg'| asset_url}}" alt="">
        </div>

        <div>
          <img class="mx-auto" src="{{'d-and-g.svg'| asset_url}}" alt="">
        </div>


        <div>
          <img class="mx-auto" src="{{'just-do-it.svg'| asset_url}}" alt="">
        </div>

        <div>
          <img class="mx-auto" src="{{'lacoste.svg'| asset_url}}" alt="">
        </div>

        <div>
          <img class="mx-auto" src="{{'zara.svg'| asset_url}}" alt="">
        </div>

        <div>
          <img class="mx-auto" src="{{'versace.svg'| asset_url}}" alt="">
        </div>
      </div>
    </div>
{% schema %}
{
    "name": "brand-carousel",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "brand-carousel"
            }
        ]
}
{% endschema %}