<div class="container max-w-7xl m-auto px-4">
  <div>
    <div class="flex lg:justify-between justify-center items-center lg:mb-20 mb-10">
      <h2 class="lg:text-3xl text-xl lg:leading-[42px] uppercase">Comfort Collection</h2>
      <div class="lg:flex hidden cursor-pointer">
        <a class="border-b-[1px] border-black text-[16px] font-semibold" href="">View All</a>
        <img
          class="ml-2"
          src="{{'right-arrow.svg'| asset_url}}"
          alt="">
      </div>
    </div>

    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-x-5">
      <a href="product-details.html">
        <div class="mb-8">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img1.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img7.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="mb-8">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img2.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img7.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Maceoo Stretch Shirt | Fibonacci Husk</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="mb-8">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img3.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img7.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Aloha west pink</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="mb-8">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img4.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img7.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Maceoo Shirt | Einstein Lenny Black</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="lg:block hidden">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img5.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img2.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="lg:block hidden">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img6.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img2.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Maceoo Stretch Shirt | Fibonacci Husk</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="lg:block hidden">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img7.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img2.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Aloha west pink</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>

      <a href="product-details.html">
        <div class="lg:block hidden">
          <figure class="mb-4 group relative">
            <img
              class="lg:w-[300px] w-full"
              src="{{'product-img8.jpg'| asset_url}}"
              alt="">
            <img
              class="absolute inset-0 w-full h-full opacity-0 transition-opacity group-hover:opacity-100 duration-[600ms] ease-in-out"
              src="{{'product-img2.jpg'| asset_url}}"
              alt="">
          </figure>
          <div class="flex flex-col justify-center items-center">
            <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Maceoo Shirt | Einstein Lenny Black</p>
            <p class="mb-3 text-[#575656]">$ 39.00</p>
            <img
              class="w-[120px] mb-3"
              src="{{'rating.svg'| asset_url}}"
              alt="">
            <div class="flex">
              <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-[14px]">
                3+</div>
              <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
              <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
              <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
              <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="flex lg:hidden justify-center cursor-pointer mt-10">
      <a class="border-b-[1px] border-black text-[16px] font-semibold" href="">View All</a>
      <img
        class="ml-2"
        src="{{'right-arrow.svg'| asset_url}}"
        alt="">
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "comfort-collection",
    "settings": [],
    "presets": [
      {
        "name": "comfort-collection"
      }
    ]
  }
{% endschema %}