


<section id="otherElement">
  {% comment %} <!-- nav section --> {% endcomment %}
  {% comment %} <div class="bg-[#202223] text-white text-center text-sm lg:py-4 py-2.5">
    APP EXCLUSIVE DISCOUNT 20% OFF:
    <a href="#" class="border-b-[1px] border-b-white mr-2 lg:inline-block hidden">Download and Checkout with our new
      Mobile APP</a>
    <i class="fa fa-mobile-screen-button lg:inline-block hidden" aria-hidden="true"></i>
  </div> {% endcomment %}

  
  {% comment %} <!-- nav section --> {% endcomment %}
  <section>
    {% comment %} <!-- home carousel --> {% endcomment %}
    
    {% comment %} <!-- home carousel -->
    <!-- offer --> {% endcomment %}
    
    {% comment %} <!-- offer --> {% endcomment %}

    <div class="container max-w-7xl m-auto px-4">
      {% comment %} <!-- Modal --> {% endcomment %}
      
      <!-- Modal -->

      {% comment %} <!-- Mens accessoires --> {% endcomment %}
      
      {% comment %} <!-- Mens accessoires -->

      <!---product carousel--> {% endcomment %}
      
      {% comment %} <!---product carousel-->

      <!-- trending accessories --> {% endcomment %}
      
      {% comment %} <!-- trending accessories -->

      <!-- comfort collection --> {% endcomment %}
      
      {% comment %} <!-- comfort collection --> {% endcomment %}
    </div>

    {% comment %} <!----Brand carousel--> {% endcomment %}
    
    {% comment %} <!----Brand carousel-->

    <!-- image notes --> {% endcomment %}
   
    {% comment %} <!-- image notes --> {% endcomment %}

    

    {% comment %} <!-- Newsletter --> {% endcomment %}
    
    {% comment %} <!-- Newsletter -->

    <!----Support-->
    <!-- desktop support --> {% endcomment %}
   
    {% comment %} <!-- mobile-support -->
    <!----Support-->

    <!----Footer--> {% endcomment %}
    <section class="bg-[#EAF2EE] lg:pt-20 pt-10 pb-[35px]">
      <div class="container max-w-7xl m-auto px-4">
        <div class="grid grid-cols-12 gap-x-3">
          <div class="lg:col-span-4 col-span-12 ">
            <div class="max-w-[300px]">
              <a href="index.html">
                <img src="{{'logo.svg'|asset_url}}" alt="">
              </a>
              <p class="text-[#202223] text-[14px] leading-[20px] pt-[20px] pb-[30px]">Your ultimate fashion style.
                Discover trendy and curated clothing for every style and occasion.</p>
              {% comment %} <!-- desktop icon --> {% endcomment %}
              <div class="lg:flex hidden">
                <div
                  class="bg-[#202223] mr-2 text-white hover:bg-transparent hover:text-black border border-black transition duration-[600ms] ease-in-out w-[32px] h-[32px] leading-[32px] text-center cursor-pointer">
                  <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div
                  class="bg-[#202223] mr-2 text-white hover:bg-transparent hover:text-black border border-black transition duration-[600ms] ease-in-out w-[32px] h-[32px] leading-[32px] text-center cursor-pointer">
                  <i class="fa-brands fa-pinterest-p"></i>
                </div>
                <div
                  class="bg-[#202223] mr-2 text-white hover:bg-transparent hover:text-black border border-black transition duration-[600ms] ease-in-out w-[32px] h-[32px] leading-[32px] text-center cursor-pointer">
                  <i class="fa-regular fa-paper-plane"></i>
                </div>
              </div>
              {% comment %} <!-- desktop icon --> {% endcomment %}
            </div>
          </div>

          <div class="lg:col-span-2 col-span-7 lg:py-0 py-10">
            <h4 class="mb-5 lg:text-base text-sm font-medium font-jost">Shop</h4>
            <ul>
              <li class="mb-2">
                <a class="text-sm text-[#6D7175] hover:text-black" href="">Lifestyle</a>
              </li>
              <li class="mb-2 text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="">North</a>
              </li>
              <li class="mb-2 text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="">Essential</a>
              </li>
              <li class="mb-2 text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="">Marble</a>
              </li>
              <li class="text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="">Resonance</a>
              </li>
            </ul>
          </div>

          <div class="lg:col-span-2 col-span-5 lg:py-0 py-10">
            <h4 class="mb-5 lg:text-base text-sm font-medium">Company</h4>
            <ul>
              <li class="mb-2">
                <a class="text-sm text-[#6D7175] hover:text-black" href="about.html">About</a>
              </li>
              <li class="mb-2 text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="contact.html">Contact</a>
              </li>
              <li class="mb-2 text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="#">Shipping & Returns</a>
              </li>
              <li class="mb-2 text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="#">Privacy Policy</a>
              </li>
              <li class="text-[#6D7175] hover:text-black">
                <a class="text-sm text-[#6D7175] hover:text-black" href="terms-of-service.html">Terms Of Services</a>
              </li>
            </ul>
          </div>

          <div class="lg:col-span-4 col-span-12">
            <h4 class="mb-[20px] text-[16px] font-medium">Join</h4>
            <div class="flex">
              <figure class="relative group cursor-pointer">
                <img class="w-full" src="{{'footer-join-img1.png'|  asset_url}}" alt="">
                <div class="absolute inset-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                  <div class="flex justify-center items-center h-full p-[5px]">
                    <a href="#" class="text-white text-[14px] font-semibold">
                      <i class="fa-brands fa-instagram mr-1"></i>
                      @FluxarFashion
                    </a>
                  </div>
                </div>
              </figure>

              <figure class="relative group cursor-pointer">
                <img class="w-full" src="{{'footer-join-img2.png'|asset_url}}" alt="">
                <div class="absolute inset-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                  <div class="flex justify-center items-center h-full p-[5px]">
                    <a href="#" class="text-white text-[14px] font-semibold">
                      <i class="fa-brands fa-instagram mr-1"></i>
                      @FluxarFashion
                    </a>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>

        <div class="mt-[80px] mb-[35px] bg-[#8C9196] h-[1px] lg:block hidden">
        </div>
        {% comment %} <!-- mobile icon --> {% endcomment %}
        <div class="flex lg:hidden py-10">
          <div
            class="bg-[#202223] mr-2 text-white hover:bg-transparent hover:text-black border border-black transition duration-[600ms] ease-in-out w-[32px] h-[32px] leading-[32px] text-center cursor-pointer">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div
            class="bg-[#202223] mr-2 text-white hover:bg-transparent hover:text-black border border-black transition duration-[600ms] ease-in-out w-[32px] h-[32px] leading-[32px] text-center cursor-pointer">
            <i class="fa-brands fa-pinterest-p"></i>
          </div>
          <div
            class="bg-[#202223] mr-2 text-white hover:bg-transparent hover:text-black border border-black transition duration-[600ms] ease-in-out w-[32px] h-[32px] leading-[32px] text-center cursor-pointer">
            <i class="fa-regular fa-paper-plane"></i>
          </div>
        </div>
        {% comment %} <!-- mobile icon --> {% endcomment %}

        <div class="flex flex-wrap lg:justify-between justify-center items-center">
          <p class="text-[#6D7175] text-sm leading-4 lg:block hidden">© Copyright, Fluxar 2023</p>
          <div class="flex flex-wrap lg:mb-0 mb-5">
            <img class="mr-2" src="{{'master-card.svg' | asset_url }}" alt="master card">
            <img class="mr-2" src="{{'visa.svg'|asset_url}}" alt="visa">
            <img class="mr-2" src="{{'american-express.svg'|asset_url}}" alt="american express">
            <img class="mr-2" src="{{'shop-pay.svg'|asset_url}}" alt="shop pay">
            <img class="mr-2" src="{{'apple-pay.svg'|asset_url}}" alt="apple pay">
            <img class="mr-2 lg:block hidden" src="{{'paypal.svg'|asset_url}}" alt="paypal">
            <img class="lg:block hidden" src="{{'google-pay.svg'|asset_url}}" alt="google pay">
          </div>

          <p class="text-[#6D7175] text-sm leading-4 block lg:hidden">© Copyright, Fluxar 2023</p>

          <div class="lg:block hidden">
            <select id="id_select2_example" style="width: 200px;">
              <option data-img_src="{{'usa.svg'|asset_url}}">USD $</option>
              <option data-img_src="{{'usa.svg'|asset_url}}">BAN $</option>
              <option data-img_src="{{'usa.svg' |asset_url}}">UK $</option>
            </select>
          </div>
        </div>
        
    </section>
    {% comment %} <!----Footer--> {% endcomment %}
    </div>

  </section>
</section>

{% schema %}
{
"name": "Footer",
"settings": [],
"presets": [
{
"name": "footer"
}
]
}
{% endschema %}