<div class="container max-w-7xl m-auto px-4">
    <div class="wrapper">
        <div class="home-slider">
          <div>
            <div class="relative text-center">
              <img class="w-full" src="{{'hero-carousel1.png'|asset_url}}" alt="Your Image" class="mx-auto" />
              {% comment %} <!-- desktop --> {% endcomment %}
              <div class="absolute inset-0 lg:flex flex-col items-center justify-center hidden">
                <h1 class="text-white uppercase text-7xl leading-[90px] lg:mb-9 mb-5">Be the Epitome of Style</h1>
                <p class="text-white text-[32px] leading-[32px] mb-[40px]">With Our Trendsetting Summer Collection '23</p>
                <button
                  class="text-[#202223] py-5 px-10 flex items-center bg-white font-semibold transform transition-transform hover:scale-110 duration-[600ms] ease-in-out">
                  Shop New Arrivals
                  <img class="ml-2" src="{{'right-arrow.svg'|asset_url}}" alt=""></button>
              </div>
              {% comment %} <!-- desktop --> {% endcomment %}
  
              {% comment %} <!-- mobile --> {% endcomment %}
              <div class="absolute inset-0 flex flex-col items-center justify-center p-4 lg:hidden">
                <h1 class="text-white uppercase text-2xl mb-2">Be the Epitome of Style</h1>
                <p class="text-white text-base mb-2">With Our Trendsetting Summer Collection '23</p>
                <button
                  class="text-[#202223] py-2.5 px-5 flex items-center bg-white text-sm transform transition-transform hover:scale-110 duration-[600ms] ease-in-out">
                  Shop New Arrivals
                  <img class="ml-2" src="{{'right-arrow.svg'|asset_url}}" alt=""></button>
              </div>
              {% comment %} <!-- mobile --> {% endcomment %}
            </div>
          </div>
  
          <div>
            <div class="relative text-center">
              <img class="w-full" src="{{'hero-carousel1.png'|asset_url}}" alt="Your Image" class="mx-auto" />
              {% comment %} <!-- desktop --> {% endcomment %}
              <div class="absolute inset-0 lg:flex flex-col items-center justify-center hidden">
                <h1 class="text-white uppercase text-7xl leading-[90px] lg:mb-9 mb-5">Be the Epitome of Style</h1>
                <p class="text-white text-[32px] leading-[32px] mb-[40px]">With Our Trendsetting Summer Collection '23</p>
                <button
                  class="text-[#202223] py-[19px] px-[40px] flex items-center bg-white font-semibold transform transition-transform hover:scale-110 duration-[600ms] ease-in-out">
                  Shop New Arrivals
                  <img class="ml-2" src="{{'right-arrow.svg'|asset_url}}" alt=""></button>
              </div>
              {% comment %} <!-- desktop -->
  
              <!-- mobile --> {% endcomment %}
              <div class="absolute inset-0 flex flex-col items-center justify-center p-4 lg:hidden">
                <h1 class="text-white uppercase text-2xl mb-2">Be the Epitome of Style</h1>
                <p class="text-white text-base mb-2">With Our Trendsetting Summer Collection '23</p>
                <button
                  class="text-[#202223] py-2.5 px-5 flex items-center bg-white text-sm transform transition-transform hover:scale-110 duration-[600ms] ease-in-out">
                  Shop New Arrivals
                  <img class="ml-2" src="{{'right-arrow.svg'|asset_url}}" alt=""></button>
              </div>
              {% comment %} <!-- mobile --> {% endcomment %}
            </div>
          </div>
  
          <div>
            <div class="relative text-center">
              <img class="w-full" src="{{'hero-carousel1.png'|asset_url}}" alt="Your Image" class="mx-auto" />
              {% comment %} <!-- desktop --> {% endcomment %}
              <div class="absolute inset-0 lg:flex flex-col items-center justify-center hidden">
                <h1 class="text-white uppercase text-7xl leading-[90px] lg:mb-9 mb-5">Be the Epitome of Style</h1>
                <p class="text-white text-[32px] leading-[32px] mb-[40px]">With Our Trendsetting Summer Collection '23</p>
                <button
                  class="text-[#202223] py-[19px] px-[40px] flex items-center bg-white font-semibold transform transition-transform hover:scale-110 duration-[600ms] ease-in-out">
                  Shop New Arrivals
                  <img class="ml-2" src="{{'right-arrow.svg'|asset_url}}" alt=""></button>
              </div>
              {% comment %} <!-- desktop -->
  
              <!-- mobile --> {% endcomment %}
              <div class="absolute inset-0 flex flex-col items-center justify-center p-4 lg:hidden">
                <h1 class="text-white uppercase text-2xl mb-2">Be the Epitome of Style</h1>
                <p class="text-white text-base mb-2">With Our Trendsetting Summer Collection '23</p>
                <button
                  class="text-[#202223] py-2.5 px-5 flex items-center bg-white text-sm transform transition-transform hover:scale-110 duration-[600ms] ease-in-out">
                  Shop New Arrivals
                  <img class="ml-2" src="{{'right-arrow.svg'|asset_url}}" alt=""></button>
              </div>
              {% comment %} <!-- mobile --> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
</div>

{% schema %}
{
    "name": "home-slider",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "home-slider"
            }
        ]
}
{% endschema %}