<div class="container max-w-7xl m-auto px-4">
    <div class="lg:py-24 py-14">
        <header class="flex lg:justify-between justify-center items-center mb-10">
          <div class="lg:text-3xl text-xl lg:leading-[42px] uppercase">New Drops</div>
          <div class="lg:flex hidden cursor-pointer">
            <a class="border-b-[1px] border-black text-[16px] font-semibold" href="#">View all</a>
            <img
              class="w-[16px] ml-2"
              src="{{'right-arrow.svg'|asset_url}}"
              alt="">
          </div>
        </header>
        <div class="wrapper">
          <div class="my-slider">
            <div>
              <div onclick="openModal()">
                <figure class="relative group cursor-pointer">
                  <img
                    class="w-full"
                    src="{{'product-img1.jpg'|asset_url}}"
                    alt="">
                  <div class="absolute bottom-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                    <div class="flex justify-center items-center h-full p-[5px]">
                      <p class="text-white text-[14px]">Quick View</p>
                      <i class="fa-regular fa-eye text-[14px] ml-2"></i>
                    </div>
                  </div>
                </figure>
                <div class="mt-2">
                  <div class="text-center">
                    <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
                    <p class="mb-3 text-[#575656]">$ 39.00</p>
                  </div>
      
                  <div class="flex flex-col justify-center items-center">
                    <img
                      class="w-[120px] mb-3"
                      src="{{'rating.svg'|asset_url}}"
                      alt="">
                    <div class="flex">
                      <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-black text-[14px]">
                        3+</div>
                      <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
                      <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
                      <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
                      <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <div>
              <div onclick="openModal()">
                <figure class="relative group cursor-pointer">
                  <img
                    class="w-full"
                    src="{{'product-img2.jpg'|asset_url}}"
                    alt="">
                  <div class="absolute bottom-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                    <div class="flex justify-center items-center h-full p-[5px]">
                      <p class="text-white text-[14px]">Quick View</p>
                      <i class="fa-regular fa-eye text-[14px] ml-2"></i>
                    </div>
                  </div>
                </figure>
                <div class="mt-2">
                  <div class="text-center">
                    <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
                    <p class="mb-3 text-[#575656]">$ 39.00</p>
                  </div>
      
                  <div class="flex flex-col justify-center items-center">
                    <img
                      class="w-[120px] mb-3"
                      src="{{'rating.svg'|asset_url}}"
                      alt="">
                    <div class="flex">
                      <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-black text-[14px]">
                        3+</div>
                      <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
                      <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
                      <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
                      <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <div>
              <div onclick="openModal()">
                <figure class="relative group cursor-pointer">
                  <img
                    class="w-full"
                    src="{{'product-img3.jpg'|asset_url}}"
                    alt="">
                  <div class="absolute bottom-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                    <div class="flex justify-center items-center h-full p-[5px]">
                      <p class="text-white text-[14px]">Quick View</p>
                      <i class="fa-regular fa-eye text-[14px] ml-2"></i>
                    </div>
                  </div>
                </figure>
                <div class="mt-2">
                  <div class="text-center">
                    <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
                    <p class="mb-3 text-[#575656]">$ 39.00</p>
                  </div>
      
                  <div class="flex flex-col justify-center items-center">
                    <img
                      class="w-[120px] mb-3"
                      src="{{'rating.svg'|asset_url}}"
                      alt="">
                    <div class="flex">
                      <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-black text-[14px]">
                        3+</div>
                      <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
                      <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
                      <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
                      <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <div>
              <div onclick="openModal()">
                <figure class="relative group cursor-pointer">
                  <img
                    class="w-full"
                    src="{{'product-img4.jpg'|asset_url}}"
                    alt="">
                  <div class="absolute bottom-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                    <div class="flex justify-center items-center h-full p-[5px]">
                      <p class="text-white text-[14px]">Quick View</p>
                      <i class="fa-regular fa-eye text-[14px] ml-2"></i>
                    </div>
                  </div>
                </figure>
                <div class="mt-2">
                  <div class="text-center">
                    <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
                    <p class="mb-3 text-[#575656]">$ 39.00</p>
                  </div>
      
                  <div class="flex flex-col justify-center items-center">
                    <img
                      class="w-[120px] mb-3"
                      src="{{'rating.svg'|asset_url}}"
                      alt="">
                    <div class="flex">
                      <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-black text-[14px]">
                        3+</div>
                      <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
                      <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
                      <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
                      <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <div>
              <div onclick="openModal()">
                <figure class="relative group cursor-pointer">
                  <img
                    class="w-full"
                    src="{{'product-img5.jpg'|asset_url}}"
                    alt="">
                  <div class="absolute bottom-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                    <div class="flex justify-center items-center h-full p-[5px]">
                      <p class="text-white text-[14px]">Quick View</p>
                      <i class="fa-regular fa-eye text-[14px] ml-2"></i>
                    </div>
                  </div>
                </figure>
                <div class="mt-2">
                  <div class="text-center">
                    <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
                    <p class="mb-3 text-[#575656]">$ 39.00</p>
                  </div>
      
                  <div class="flex flex-col justify-center items-center">
                    <img
                      class="w-[120px] mb-3"
                      src="{{'rating.svg'|asset_url}}"
                      alt="">
                    <div class="flex">
                      <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-black text-[14px]">
                        3+</div>
                      <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
                      <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
                      <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
                      <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            <div>
              <div onclick="openModal()">
                <figure class="relative group cursor-pointer">
                  <img
                    class="w-full"
                    src="{{'product-img6.jpg'|asset_url}}"
                    alt="">
                  <div class="absolute bottom-0 w-full bg-black opacity-0 group-hover:opacity-75 transition-opacity">
                    <div class="flex justify-center items-center h-full p-[5px]">
                      <p class="text-white text-[14px]">Quick View</p>
                      <i class="fa-regular fa-eye text-[14px] ml-2"></i>
                    </div>
                  </div>
                </figure>
                <div class="mt-2">
                  <div class="text-center">
                    <p class="text-[16px] leading-[16px] text-[#6D7175] mb-1">Au Noir Stretch Shirt | Santana Navy</p>
                    <p class="mb-3 text-[#575656]">$ 39.00</p>
                  </div>
      
                  <div class="flex flex-col justify-center items-center">
                    <img
                      class="w-[120px] mb-3"
                      src="{{'rating.svg'|asset_url}}"
                      alt="">
                    <div class="flex">
                      <div class="border border-gray-500 rounded-[100%] w-[32px] h-[32px] mr-2 flex justify-center items-center text-black text-[14px]">
                        3+</div>
                      <div class="border-[#CAB25A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CAB25A]"></div>
                      <div class="border-[#CA5A5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#CA5A5A]"></div>
                      <div class="border-[#92CA5A] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#92CA5A]"></div>
                      <div class="border-[#D1D1C9] rounded-[100%] w-[32px] h-[32px] mr-2 bg-[#D1D1C9]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        {% comment %} <!-- product modal --> {% endcomment %}
        <div class="quick-modal" id="myModal">
          <div class="modal-content bg-white overflow-y-auto relative pt-16">
            <svg
              onclick="closeModal()"
              class="absolute top-6 right-6 cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none">
              <path d="M10 12.1092L1.95402 20.1552C1.72414 20.3851 1.45594 20.5 1.14943 20.5C0.842912 20.5 0.574713 20.3851 0.344828 20.1552C0.114943 19.9253 0 19.6571 0 19.3506C0 19.0441 0.114943 18.7759 0.344828 18.546L8.3908 10.5L0.344828 2.45402C0.114943 2.22414 0 1.95594 0 1.64943C0 1.34291 0.114943 1.07471 0.344828 0.844828C0.574713 0.614943 0.842912 0.5 1.14943 0.5C1.45594 0.5 1.72414 0.614943 1.95402 0.844828L10 8.8908L18.046 0.844828C18.2759 0.614943 18.5441 0.5 18.8506 0.5C19.1571 0.5 19.4253 0.614943 19.6552 0.844828C19.8851 1.07471 20 1.34291 20 1.64943C20 1.95594 19.8851 2.22414 19.6552 2.45402L11.6092 10.5L19.6552 18.546C19.8851 18.7759 20 19.0441 20 19.3506C20 19.6571 19.8851 19.9253 19.6552 20.1552C19.4253 20.3851 19.1571 20.5 18.8506 20.5C18.5441 20.5 18.2759 20.3851 18.046 20.1552L10 12.1092Z" fill="#6D7175" />
            </svg>
            <section>
              <div class="grid lg:grid-cols-2 grid-cols-1">
                <div class="quickView-wrapper">
                  <div class="quickView-slider">
                    <div>
                      <img
                        class="w-full"
                        src="{{'quick-view-img.png'|asset_url}}"
                        alt="cart img"
                        loading="eager">
                    </div>
                    <div>
                      <img
                        class="w-full"
                        src="{{'quick-view-img.png'|asset_url}}"
                        alt="cart img"
                        loading="eager">
                    </div>
                    <div>
                      <img
                        class="w-full"
                        src="{{'quick-view-img.png'|asset_url}}"
                        alt="cart img"
                        loading="eager">
                    </div>
                    <div>
                      <img
                        class="w-full"
                        src="{{'quick-view-img.png'|asset_url}}"
                        alt="cart img"
                        loading="eager">
                    </div>
                    <div>
                      <img
                        class="w-full"
                        src="{{'quick-view-img.png'|asset_url}}"
                        alt="cart img"
                        loading="eager">
                    </div>
      
      
                  </div>
                </div>
      
                <div class="bg-white lg:pl-9 lg:py-16 py-8 relative">
                  {% comment %} <!-- Product Details --> {% endcomment %}
                  <div>
                    <header class="flex lg:justify-between justify-center items-center mb-4">
                      <h2 class="lg:text-3xl text-lg text-[#151313] leading-10">
                        Tawny beige lyocell Top & Jens
                      </h2>
                      <i class="fa-regular fa-heart text-xl lg:block hidden"></i>
                    </header>
                    <div class="flex lg:justify-start justify-center items-center mb-4">
                      <p class="lg:text-2xl text-lg lg:leading-8 text-[#202223] mr-3">
                        $ 39.00
                      </p>
                      <p class="lg:text-2xl text-lg lg:leading-8 text-[#8C9196] mr-3">
                        <s>$ 62.00</s>
                      </p>
                      <button class="bg-black text-white py-2.5 px-4 lg:text-base text-sm font-jost hover:bg-white hover:text-black border border-black transition duration-[600ms] ease-in-out">
                        Sale -17%
                      </button>
                    </div>
                    <div class="flex lg:justify-start justify-center">
                      <img src="{{'stock-icon.svg'|asset_url}}" alt="" />
                      <p class="text-[#6D7175] text-[16px] leading-[24px] ml-3">
                        7 Items in stock
                      </p>
                    </div>
                    <hr class="mt-[20px] mb-[25px]" />
                    <div class="w-[252px] mb-[20px]">
                      <div class="flex justify-between mb-[18px]">
                        <p class="text-[14px] leading-[20px] #202223">Size: XL</p>
                        <div class="flex items-center">
                          <i class="fa-solid fa-ruler text-[#6D7175]"></i>
                          <p onclick="openSizeModal()" class="text-sm ml-2 leading-5 text-[#6D7175] border-b border-[#6D7175] cursor-pointer">
                            Find My size!
                          </p>
                          {% comment %} <!-- size modal --> {% endcomment %}
                          <div class="quick-modal" id="sizeModal">
                            <section class="bg-white lg:w-4/5 w-full lg:px-16 lg:py-16 py-10 px-5 relative">
                              <div onclick="closeSizeModal()" class="cursor-pointer lg:hidden block absolute top-5 right-5">
                                <img src="{{'cancel.svg'|asset_url}}" alt="cancel">
                              </div>
                              <div class="flex lg:justify-between justify-center items-center lg:pb-5 pb-2 border-b border-[#8C9196] lg:mb-10 mb-5">
                                <h2 class="lg:text-2xl text-base uppercase text-black font-jost">
                                  MEN'S ARTIST SHORT SLEEVE SIZE
                                </h2>
                                <div onclick="closeSizeModal()" class="cursor-pointer lg:block hidden">
                                  <img src="{{'cancel.svg'|asset_url}}" alt="cancel">
                                </div>
                              </div>
      
                              <table class="w-full">
                                {% comment %} <!-- Table Header --> {% endcomment %}
                                <thead>
                                  <tr class="bg-[#EAF2EE] text-black text-left">
                                    <th class="py-2 px-4">Size</th>
                                    <th class="py-2 px-4">UK</th>
                                    <th class="py-2 px-4">UK-US</th>
                                    <th class="py-2 px-4">AUS</th>
                                  </tr>
                                </thead>
      
                                {% comment %} <!-- Table Body --> {% endcomment %}
                                <tbody>
                                  {% comment %} <!-- First Row (Red) --> {% endcomment %}
                                  <tr class="bg-white text-black">
                                    <td class="py-2 px-4">XS</td>
                                    <td class="py-2 px-4">65 A-D</td>
                                    <td class="py-2 px-4">80 A-C</td>
                                    <td class="py-2 px-4">8 A-D</td>
                                  </tr>
      
                                  {% comment %} <!-- Second Row (White) --> {% endcomment %}
                                  <tr class="bg-[#EAF2EE]">
                                    <td class="py-2 px-4">S</td>
                                    <td class="py-2 px-4">70 A-D</td>
                                    <td class="py-2 px-4">32 A-D</td>
                                    <td class="py-2 px-4">10 A-D</td>
                                  </tr>
      
                                  {% comment %} <!-- Third Row (Red) --> {% endcomment %}
                                  <tr class="bg-white text-black">
                                    <td class="py-2 px-4">M</td>
                                    <td class="py-2 px-4">75 A-D</td>
                                    <td class="py-2 px-4">34 A-D</td>
                                    <td class="py-2 px-4">12 A-D</td>
                                  </tr>
      
                                  {% comment %} <!-- Fourth Row (Red) --> {% endcomment %}
                                  <tr class="bg-[#EAF2EE] text-black">
                                    <td class="py-2 px-4">L</td>
                                    <td class="py-2 px-4">80 A-C</td>
                                    <td class="py-2 px-4">36 A-C</td>
                                    <td class="py-2 px-4">14 A-C</td>
                                  </tr>
      
                                  {% comment %} <!-- Fifth Row (Red) --> {% endcomment %}
                                  <tr class="bg-white text-black">
                                    <td class="py-2 px-4">XL</td>
                                    <td class="py-2 px-4">85 A-C</td>
                                    <td class="py-2 px-4">38 A-D</td>
                                    <td class="py-2 px-4">16 A-C</td>
                                  </tr>
      
                                  {% comment %} <!-- Sixth Row (Red) --> {% endcomment %}
                                  <tr class="bg-[#EAF2EE] text-black">
                                    <td class="py-2 px-4">XXL</td>
                                    <td class="py-2 px-4">90A-D</td>
                                    <td class="py-2 px-4">40 A-D</td>
                                    <td class="py-2 px-4">18 A-C</td>
                                  </tr>
                                </tbody>
                              </table>
                            </section>
                          </div>
                        {% comment %} <!-- size modal --> {% endcomment %}
                        </div>
                      </div>
                      <div class="flex">
                        <div class="border mr-5 border-[#8C9196] cursor-pointer hover:bg-black hover:text-white transition duration-[600ms] ease-in-out w-[48px] h-[48px] text-center leading-[48px]">
                          XL
                        </div>
      
                        <div class="border mr-5 border-[#8C9196] cursor-pointer hover:bg-black hover:text-white transition duration-[600ms] ease-in-out w-[48px] h-[48px] text-center leading-[48px]">
                          S
                        </div>
      
                        <div class="border mr-5 border-[#8C9196] cursor-pointer hover:bg-black hover:text-white transition duration-[600ms] ease-in-out w-[48px] h-[48px] text-center leading-[48px]">
                          M
                        </div>
      
                        <div class="border mr-5 border-[#8C9196] cursor-pointer hover:bg-black hover:text-white transition duration-[600ms] ease-in-out w-[48px] h-[48px] text-center leading-[48px]">
                          L
                        </div>
                      </div>
                    </div>
      
                    <div class="mb-[35px]">
                      <p class="mb-[8px] text-[16px] leading-[28px]">Variation:</p>
                      <figure class="flex">
                        <img
                          class="mr-3"
                          src="{{'tshirt-variation1.png'|asset_url}}"
                          alt="" />
                        <img
                          class="mr-3"
                          src="{{'tshirt-variation2.png'|asset_url}}"
                          alt="" />
                        <img src="{{'tshirt-variation3.png'|asset_url}}" alt="" />
                      </figure>
                    </div>
      
                    <div class="grid grid-cols-12 gap-x-2 mb-[18px]">
                      <div class="col-span-3">
                        <div class="flex justify-between items-center p-[15px] bg-[#202223] text-white">
                          <i class="fa-solid fa-minus cursor-pointer"></i>
                          <p>1</p>
                          <i class="fa-solid fa-plus cursor-pointer"></i>
                        </div>
                      </div>
      
                      <div class="col-span-9">
                        <button class="bg-[#202223] w-full p-[15px] text-white uppercase hover:bg-white hover:text-black border border-black transition duration-[600ms] ease-in-out">
                          Add to cart
                        </button>
                      </div>
                    </div>
      
                    <div class="mb-[30px]">
                      <button class="uppercase w-full py-[18px] text-[16px] leading-[20px] font-medium hover:bg-black hover:text-white border border-black transition duration-[600ms] ease-in-out">
                        buy it now
                      </button>
                    </div>
      
                    <div class="mb-[35px]">
                      <div class="flex mb-[25px]">
                        <img src="{{'eye-icon.svg'| asset_url}}" alt="" />
                        <p class="ml-2">
                          <b>16</b>
                          Customers are viewing this product</p>
                      </div>
      
                      <div class="flex mb-[25px]">
                        <img src="{{'fire-icon.svg'| asset_url}}" alt="" />
                        <p class="ml-2">
                          <b>30</b>
                          sold in last 18 hours</p>
                      </div>
      
                      <div class="flex">
                        <div class="flex">
                          <img src="{{'share-icon.svg'| asset_url}}" alt="" />
                          <p class="ml-2">Share</p>
                        </div>
                        <div class="ml-5">
                          <a href="#">
                            <i class="fa-brands fa-facebook-f mr-3.5"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-x-twitter mr-3.5"></i>
                          </a>
                          <a href="#">
                            <i class="fa-solid fa-paper-plane mr-3.5"></i>
                          </a>
                          <a href="#">
                            <i class="fa-brands fa-whatsapp mr-3.5"></i>
                          </a>
                          <a href="#">
                            <i class="fa-regular fa-copy"></i>
                          </a>
                        </div>
                      </div>
                    </div>
      
                    {% comment %} <!-- FAQ items --> {% endcomment %}
                    <div>
                      <div class="faq-item border-t border-b border-[#e5e5e5] shadow-none">
                        <div class="flex justify-between items-center py-[20px] cursor-pointer">
                          <div class="flex items-center">
                            <img src="{{'description-faq-img.svg'| asset_url}}" alt="" />
                            <p class="text-black text-base ml-4">Description</p>
                          </div>
                          <i class="fa-solid fa-chevron-down rotate-icon"></i>
                        </div>
                        <div class="faq-answer">
                          <div class="pb-[20px]">
                            <p class="text-base leading-6 text-[#6D7175]">
                              What could be more alluring than bright botanicals for summer,
       
                                    we’re designing with optimism in mind and if there’s one theme
                                    that inspires us. Our Tango collection features an ultra-luxe
                                    palette alongside graphic black-and-white for maximum impact.
                            </p>
                            <ul class="py-4">
                              <li class="flex items-center">
                                <div class="w-1 h-1 rounded-full bg-[#6D7175]"></div>
                                <p class="text-base leading-6 text-[#6D7175] ml-2">
                                  Internal brief
                                </p>
                              </li>
                              <li class="flex items-center">
                                <div class="w-1 h-1 rounded-full bg-[#6D7175]"></div>
                                <p class="text-base leading-6 text-[#6D7175] ml-2">
                                  Powermesh support front and back
                                </p>
                              </li>
                            </ul>
                            <p class="text-base leading-6 text-[#6D7175]">
                              Our model is wearing a size AU10/US6
                            </p>
                          </div>
                        </div>
                      </div>
      
                      <div class="faq-item shadow-none border-b border-[#e5e5e5]">
                        <div class="flex justify-between items-center py-[20px] cursor-pointer">
                          <div class="flex items-center">
                            <img src="{{'material-faq-img.svg'| asset_url}}" alt="" />
                            <p class="text-black text-base ml-4">Materials & Care Guide</p>
                          </div>
                          <i class="fa-solid fa-chevron-down rotate-icon"></i>
                        </div>
                        <div class="faq-answer">
                          <p class="pb-[20px] text-base leading-6 text-[#6D7175]">
                            Dry-clean or delicately hand wash with non-abrasive detergent.
       
                                  Lay flat to dry. Iron on low-warm only. Do not bleach.
                          </p>
                        </div>
                      </div>
      
                      <div class="faq-item shadow-none border-b border-[#e5e5e5]">
                        <div class="flex justify-between items-center py-[20px] cursor-pointer">
                          <div class="flex items-center">
                            <img src="{{'shipping-faq-img.svg'| asset_url}}" alt="" />
                            <p class="text-black text-base ml-4">Shipping & Returns</p>
                          </div>
                          <i class="fa-solid fa-chevron-down rotate-icon"></i>
                        </div>
                        <div class="faq-answer">
                          <p class="pb-[20px] text-base leading-6 text-[#6D7175]">
                            Free 2 Day Shipping on Orders $50+. Returns must be postmarked:
       
                                  within 15 days of delivery for a refund and within 30 days for a
                                  Store Credit or Exchange. Read our full returns policy in our
                                  FAQ page.
                          </p>
                        </div>
                      </div>
                    </div>
                  {% comment %} <!-- FAQ items --> {% endcomment %}
                  </div>
                {% comment %} <!-- Product Details --> {% endcomment %}
                </div>
              </div>
            </section>
          {% comment %} <!-- <button >Close Modal</button> --> {% endcomment %}
          </div>
        </div>
        {% comment %} <!-- product modal --> {% endcomment %}
        <div class="flex justify-center lg:hidden cursor-pointer mt-10">
          <a class="border-b-[1px] border-black text-[16px] font-semibold" href="#">View all</a>
          <img
            class="w-[16px] ml-2"
            src="{{'right-arrow.svg'| asset_url}}"
            alt="">
        </div>
      </div>
</div>

{% schema %}
  {
    "name": "product-carousel",
    "settings": [],
    "presets": [
      {
        "name": "product carousel"
      }
    ]
  }
{% endschema %}