<style>

  swiper-container {
    position: relative;
    height: 100%;
  }

  swiper-container {
    background: #eee;
    font-family: Helvetica Neue
    , Helvetica
    , Arial
    , sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    width: 100%; /* Adjust to your preferred width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
  }
  .position {
    position: relative;
  }
  .text-middle {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
</style>


<swiper-container class="mySwiper" init="false">
  {%- for block in section.blocks -%}
    <swiper-slide>

      <div
        class="slideshow__slide position grid__item grid--1-col slider__slide"
        id="Slide-{{ section.id }}-{{ forloop.index }}"
        {{ block.shopify_attributes }}
        role="group"
        aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
        aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
        tabindex="-1">
        <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
          {%- if block.settings.image -%}
            {% comment %} {%- liquid
              assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
              if section.settings.image_behavior == 'ambient'
                assign sizes = '120vw'
                assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
              else
                assign sizes = '100vw'
                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
              endif
              assign fetch_priority = 'auto'
              if section.index == 1
                assign fetch_priority = 'high'
              endif
            -%} {% endcomment %}
            {%- if forloop.first %}
              {{ block.settings.image
 | image_url: width: 500 
 | image_tag: fetchpriority: fetch_priority 
              }}
            {%- else -%}
              {{ block.settings.image
 | image_url: width: 500
 | image_tag: loading: 'lazy'
              }}
            {%- endif -%}
          {%- else -%}
            {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
            {%- if placeholder_slide == 1 -%}
              {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          {%- endif -%}
        </div>
        <div class="slideshow__text-wrapper   banner__content banner__content--{{ block.settings.box_align }} page-width{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll and forloop.index == 1 %} scroll-trigger animate--slide-in{% endif %}">
          <div class="slideshow__text banner__box text-middle content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient slideshow__text--{{ block.settings.text_alignment }} slideshow__text-mobile--{{ block.settings.text_alignment_mobile }}">
            {%- if block.settings.heading != blank -%}
              <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
                {{ block.settings.heading }}
              </h2>
            {%- endif -%}
            {%- if block.settings.subheading != blank -%}
              <div class="banner__text rte" {{ block.shopify_attributes }}>
                <p>{{ block.settings.subheading }}</p>
              </div>
            {%- endif -%}
            {%- if block.settings.button_label != blank -%}
              <div class="banner__buttons">
                <a
                  {% if block.settings.link %}
                  href="{{ block.settings.link }}"
                  {% else %}
                  role="link"
                  aria-disabled="true"
                  {% endif %}
                  class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}">
                  {{- block.settings.button_label | escape -}}{% render 'icon' with 'right-arrow' %}
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </swiper-slide>
  {%- endfor -%}


</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<script>
    const swiperEl = document.querySelector('swiper-container')
  
    const params = {
      injectStyles: [`
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }
  
      .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
      }
      `],
      pagination: {
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '">' + (index + 1) + "</span>";
        },
      },
    }
  
    Object.assign(swiperEl, params)
  
    swiperEl.initialize();
</script>


{% schema %}
  {
    "name": "Carousel Image Slider",
    "settings": [
      {
        "type": "image_picker",
        "id": "slider_images",
        "label": "Slider Images"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "t:sections.slideshow.blocks.slide.name",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.slideshow.blocks.slide.settings.image.label"
          },
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "BE THE EPITOM OF STYLE",
            "label": "heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "small"
              },
              {
                "value": "h1",
                "label": "Medium"
              },
              {
                "value": "h0",
                "label": "Large"
              },
              {
                "value": "hxl",
                "label": "Extra large"
              }, {
                "value": "hxxl",
                "label": "Extra extra large"
              }
            ],
            "default": "h1",
            "label": "Heading size"
          },
          {
            "type": "inline_richtext",
            "id": "subheading",
            "default": "With Our Trensettings Summer Collection'24 ",
            "label": "subheading"
          }, {
            "type": "text",
            "id": "button_label",
            "default": "Shop New Arrivals",
            "label": "Button label",
            "info": "Leave the label blank to hide the button."
          }, {
            "type": "url",
            "id": "link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel Image Slider"
      }
    ]
  }
{% endschema %}